backend:
  name: github
  repo: rbikar/podjavorican-web
  branch: master
  auth_scope: repo
  auth_endpoint: "authorize"
  oauth_client_id: Ov23liYX7dYWWTlYP5H2

media_folder: "assets/images"
public_folder: "/assets/images"

collections:
  - name: "posts"
    label: "Posts"
    folder: "_posts"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}
